body {
  background: #292a2b;
  font-family: Arial;
  padding-top: 20px;
}

.contact-title {
  margin: auto;
  width: 380px;
  padding: 5px 0px;
  border-radius: 8px 8px 0px 0px;
  background: #0054a9;
  border-bottom: 5px solid #fff;
}

.contact-title h2 {
  text-align: center;
  color: #ede;
  letter-spacing: 2px;
}

.name-contact {
  margin: auto;
  width: 380px;
  padding-top: 20px;
  background: #fff;
}

.message-contact {
  margin: auto;
  width: 380px;
  padding-top: 15px;
  background: #fff;
}

.box-size {
  margin-left: 5%;
  width: 90%;
  height: 30px;
  font-size: 14px;
  border: 0px;
  border-radius: 4px;
  border: 0.2px solid #d0d0d0;
  background: #e2e2e2;
}

.submit-size {
  margin-left: 5%;
  width: 90%;
  height: 50px;
  font-size: 18px;
  border: 0px;
}
textarea {
  font-family: inherit;
  font-size: inherit;
  resize: vertical;
}

label {
  padding-left: 21px;
}
.submit-contact {
  margin: auto;
  width: 380px;
  padding-top: 10px;
  border-radius: 0px 0px 8px 8px;
  background: #fff;
  text-align: center;
}

.msg-size {
  margin-left: 5%;
  width: 89%;
  height: 100px;
  font-size: 14px;
  border-radius: 4px;
  border: 0.2px solid #d0d0d0;
  background: #e2e2e2;
}

.submit-button {
  color: #fff;
  background: #0054a9;
  font-size: 15px;
  letter-spacing: 1.4px;
  font-family: Arial;
  border: 0px;
  border-radius: 8px;
  padding: 10px 10px;
  width: 24%;
  height: 80%;
  cursor: pointer;
}
